body{
    border-top: 5px solid #4cb2e5;
    margin:0;
}

#bungkus{
    width: 900px;
    margin: 0 auto;
}

#hr1{
    margin: -2px 0 0px;
    height: 1px;
    color: #333; 
    background-color: #333;
}

#hr2{
    margin: 0px 0 0px;
    height: 1px;
    width:100%;
    color: #333; 
    background-color: #333;
}

#menu{
    float:left;
}

#menu ul{
    margin: 40px 0 0;
    padding: 0;
}

#menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 12px;
}

#menu ul li a{
    text-decoration: none;
    color: #333333;
    color:#333333;
    font-weight: normal;
    font-family:Arial, Helvetica, sans-serif;
}

#menu ul li a:hover{
    border-bottom: 5px solid;
}

#logo {
    float: right;
}

h2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-weight: bold;
    padding-top: 30px;
    margin: 0 9.3px;
    font-size: 20px;
}

.column {
    padding: 60px 0;
  float: left;
  width: 33.33%;
}

.column .icon{
    width: 275px;
    display:inline-block;
    margin: 0 9.3px;
}

.column .deskripsi{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-weight: normal;
    margin: 0 9.3px;
    font-size: 15px;
    padding-top: 10px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

input{
    width: 100%;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecebeb;
    color: #0da0e9;
    border-color:transparent;
}

.btn {
    background-image: url("gambar/tombol_bg.jpg");
    border: none;
    color: white;
    padding: 10px 18px;
    font-size: 11px;
    cursor: pointer;
    float:right;
    text-align: center;
  }
  
footer{
    clear: both;
    border-top: 1px solid #666666;
    padding: 25px;
    text-align: center;
}